name: Update Dependencies

on:
  # Run every day.
  schedule:
    - cron: "0 3 * * *"
  # Allow a manual trigger to be able to run the update when there are new dependencies or after a PR merge to resolve CHANGELOG conflicts.
  workflow_dispatch:

permissions:
  contents: write # needed to add commits to branches
  pull-requests: write
  actions: write # needed for cancelling workflow runs

jobs:
  sentry-native:
    runs-on: ubuntu-latest
    steps:
      - uses: getsentry/github-workflows/updater@v3
        with:
          path: modules/sentry-native
          name: Native SDK
          ssh-key: ${{ secrets.CI_DEPLOY_KEY }}

  sentry-cocoa:
    runs-on: ubuntu-latest
    steps:
      - uses: getsentry/github-workflows/updater@v3
        with:
          path: modules/sentry-cocoa.properties
          name: Cocoa SDK
          ssh-key: ${{ secrets.CI_DEPLOY_KEY }}

  sentry-android:
    runs-on: ubuntu-latest
    steps:
      - uses: getsentry/github-workflows/updater@v3
        with:
          path: scripts/android-version.ps1
          name: Sentry Android
          ssh-key: ${{ secrets.CI_DEPLOY_KEY }}

  gdunit4:
    runs-on: ubuntu-latest
    steps:
      - uses: getsentry/github-workflows/updater@v3
        with:
          path: modules/gdUnit4
          name: gdUnit 4
          changelog-entry: false
          ssh-key: ${{ secrets.CI_DEPLOY_KEY }}
